<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1><strong></strong>Welcome</h1>

  <div class="content-container">
      <ion-label position="floating" class="input-item">Email</ion-label>
      <ion-input fill="outline"></ion-input>

      <ion-label position="floating" class="input-item">Password</ion-label>
      <ion-input fill="outline"></ion-input>

      <ion-item>
        <ion-text slot="end" style="color:rgb(5, 5, 175)">Forgot password?</ion-text> 
      </ion-item>

    <ion-button expand="block" (click)="goToTab2()">Sign In</ion-button>
    <ion-item>
      <ion-text>Don't have an account?</ion-text> 
      <ion-text style="color:rgb(55, 55, 243)">Sign Up</ion-text>
    </ion-item>
  </div>
</ion-content>

  