.content-container {
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  
.input-item {
  margin-bottom: 16px;
  font-family: Montserrat-Semibold !important;
}

.forgot-password {
  font-family: Montserrat-SemiBold !important;
  text-align: right;
}

.signup-link {
  color: blue;
}

h1 {
  font-family: Montserrat-SemiBold !important;
}

ion-text {
  font-family: Montserrat-SemiBold !important;
}
  
  