<ion-content class="padding">
  <ion-item>
    <h1><strong> Fiji <br> Badminton </strong></h1>
    <button [routerLink]="['/login']">
      <ion-icon class="log-out-button" name="log-out-outline"></ion-icon>
    </button>
  </ion-item>
  
  <ion-card style="background-color:#0B2056;">
    <div class="heading">
      <h3 style="color:rgb(255, 255, 255)" class="padding"> Player Profiles </h3>
    </div>
  </ion-card>

  <ion-card>
    <ion-item [routerLink]="['/sample']">
      <ion-text> Tom Jerry </ion-text>
    </ion-item>
    <ion-item>
      <ion-text> Solo Tuilagivou </ion-text>
    </ion-item>
    <ion-item>
      <ion-text> Kieran Varea </ion-text>
    </ion-item>
  </ion-card>

  <ion-card style="background-color:#0B2056;">
    <div class="heading">
      <h3 style="color:rgb(255, 255, 255)" class="padding"> Performance Tracking </h3>
    </div>
  </ion-card>
  
    <ion-item>
      <img src="./assets/graph.jpg"/>
    </ion-item>
</ion-content>

