<ion-content class="padding">
  <ion-item>
    <h1 class="ion-no-margin"><strong> Fiji Badminton </strong></h1>
  </ion-item>
  <ion-card style="background-color:#0B2056;">
    <div class="heading">
      <h3 style="color:rgb(255, 255, 255)" class="padding"> Player Profiles </h3>
    </div>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-text> Ana Vuli </ion-text>
    </ion-item>
    <ion-item>
      <ion-text> Solo Tuilagivou </ion-text>
    </ion-item>
    <ion-item>
      <ion-text> Kieran Varea </ion-text>
    </ion-item>
  </ion-card>
</ion-content>

<ion-content>
  <ion-card style="background-color:#0B2056;">
    <div class="heading">
      <h3 style="color:rgb(255, 255, 255)" class="padding"> Performance Tracking </h3>
    </div>
  </ion-card>
    <ion-item>
      <img src="./assets/graph.jpg"/>
    </ion-item>
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom" class="tab-bar">
    
    <ion-tab-button tab="tab2">
      <ion-icon name="home-outline" [routerLink]="['/tab2']"></ion-icon>
    </ion-tab-button>
    
    <ion-tab-button tab="tab3" [routerLink]="['/tab3']">
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
