h1 {
    font-family: Inter-Bold !important;
    font-size: 200%;
    margin-top: 20px;
  }

.custom-card {
    padding: 5px;
    background-color: black;
}

.Date {
    font-family: Inter-Light !important;
    color: white;
}

.Names {
    font-family: Inter-Bold !important;
    color: rgb(255, 255, 255);
    font-size: 17px;
}

.Result {
    font-family: Inter-Bold !important;
    color:white;
    font-size: 25px;
    float: right;
}