<ion-item class="padding">
  <h1 style="text-align: center;"><strong> Player Profile </strong></h1>
</ion-item>

<ion-item>
  <ion-button (click)="addProfile()">+Add</ion-button>
</ion-item>

<ion-content>
  <ion-card [routerLink]="['/sample']" style="border-radius: 10px;">
      <ion-item>
        <ion-label>Tom Jerry</ion-label>
      </ion-item>
  </ion-card>
  <ion-card style="border-radius: 10px;">
    <ion-item>
      <ion-label>Ana Vuli</ion-label>
    </ion-item>
  </ion-card>
  <ion-card style="border-radius: 10px;">
    <ion-item>
      <ion-label>Kieran Varea</ion-label>
    </ion-item>
  </ion-card>
  <ion-card style="border-radius: 10px;">
    <ion-item>
      <ion-label>Solo Tuilagivou</ion-label>
    </ion-item>
  </ion-card>
  <ion-card style="border-radius: 10px;">
    <ion-item>
      <ion-label>Emosi Bainimarama</ion-label>
    </ion-item>
  </ion-card>
  <ion-card style="border-radius: 10px;">
    <ion-item>
      <ion-label>Ken Katafono</ion-label>
    </ion-item>
  </ion-card>
  <ion-card style="border-radius: 10px;">
    <ion-item>
      <ion-label>Shauna Katafono</ion-label>
    </ion-item>
  </ion-card>
  <ion-card style="border-radius: 10px;">
    <ion-item>
      <ion-label>Krishant Pal</ion-label>
    </ion-item>
  </ion-card>
  <ion-card style="border-radius: 10px;">
    <ion-item>
      <ion-label>SpongeBob</ion-label>
    </ion-item>
  </ion-card>  
</ion-content>

