.custom-toolbar {
    --min-height: 40px;
  }

.toolbar-title {
display: flex;
justify-content: center;
align-items: center;
text-align: center;
margin-top: 25px;
font-family: Inter-Bold !important;
font-size: 15px;
}

.back-button {
width: 50px;
height: 30px;
margin-top: -20px;
background-color: transparent;
color: rgb(0, 0, 233);
position: relative;
bottom: 10px;
border: none;
padding: 0;
}

button {
background-color: transparent;
border: none;
padding: 0;
}

.bottom-button {
background-color: #3051FF;
color: white;
align-items: center;
}