<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar">
    <ion-title>
      <ion-text class="toolbar-title">Create Profile</ion-text>
    </ion-title>
    <div>
      <button [routerLink]="['/tabs/tab3']">
        <ion-icon name="arrow-back-circle-outline" class="back-button"></ion-icon>
      </button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="light" class="custom-card">
    <div class="img-wrapper">
      <img src="./assets/addphoto.jpg" />
      <ion-button color="light">
        <ion-icon slot="icon-only" name="camera-outline" color="medium">
        </ion-icon>
      </ion-button>
    </div>
  <ion-card-content>
      <ion-item>
        <ion-input label="Name" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Age" type="text"></ion-input>
        <ion-input label="Gender" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Address" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Height (ft)"type="text"></ion-input>
        <ion-input label="Hand" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Partner" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="WR" type="text"></ion-input>
        <ion-input label="CWR" type="text"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
